/* reset html style
------------------------------*/

html {
overflow-y: scroll;
}

body,
div,
p,
blockquote,
ol,ul,li,
dl,dt,dd,
table,tr,th,td,
h1,h2,h3,h4,h5,h6,
form, textarea
{
	margin:0;
	padding:0;
	outline:0;
	font-style:normal;
	font-weight:normal;

}

li{
	list-style-type: none;
}

label{
cursor:pointer;
}

img{
border:0px;
vertical-align:bottom;
}

a:active,
a:focus{ 
outline:none;  
}

table {
border-collapse:collapse;
border-spacing:0;
}

caption,
th{
text-align: left;
}

/* .clearFix
------------------------------*/

.clearFix:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
line-height:0;
}

.clearFix{
zoom:1;
}

/* Hides from IE-mac \*/
* html .clearFix{height:0.0001%;}
.clearFix{display:block;}
/* End hide from IE-mac */

/*
     FILE ARCHIVED ON 01:37:40 Jan 20, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:45:12 Apr 01, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.175
  RedisCDXSource: 0.569
  load_resource: 632.822
  captures_list: 871.873
  PetaboxLoader3.resolve: 1116.331 (5)
  PetaboxLoader3.datanode: 247.046 (5)
  exclusion.robots: 0.188
  CDXLines.iter: 13.414 (3)
  LoadShardBlock: 853.755 (3)
  esindex: 0.014
*/